@font-face {
  font-family: "MapleBold";
  font-weight: 50;
  src: url("./fonts/mbold.ttf") format("truetype");
}
@font-face {
  font-family: "MapleLight";
  font-weight: 50;
  src: url("./fonts/mlight.ttf") format("truetype");
}
@font-face {
  font-family: "Kyobo";
  font-weight: 50;
  src: url("./fonts/Kyobo.ttf") format("truetype");
}
