.serveone {
    position: absolute;
    margin-top: 700px;
    height: 650px;
    width: 100%;
    background-color: whitesmoke;
    .imging {
        position: absolute;
        margin-left: 20%;
        margin-top: 100px;
    }
    h1 {
        position: absolute;
        margin-left: 65%;
        margin-top: 100px;
        font-size: 40px;
    }
}