.footer {
    position: absolute;
    margin-top: 4150px;
    height: 600px;
    width: 100%;
    background-color: #23272a;
    .twitter {
        position: absolute;
        width: 2%;
        margin-left: 360px;
        cursor: pointer;
    }
    .insta {
        position: absolute;
        width: 2%;
        cursor: pointer;
        margin-left: 440px;
    }
    .face {
        position: absolute;
        width: 1.6%;
        margin-top: 2px;
        cursor: pointer;
        margin-left: 520px;
    }
    .youtube {
        position: absolute;
        width: 2%;
        cursor: pointer;
        margin-left: 600px;
    }
    h1{
        color: #5865e5;
        margin-left: 360px;
        margin-top: 80px;
        line-height: 40px;
    }
    .one {
        position: absolute;
        color: white;
        margin-left: 41%;
        line-height: 18px;
        margin-top: -100px;
        .onething {
            color: #5865e5;
        }
    }
    .two {
        position: absolute;
        color: white;
        margin-left: 51%;
        line-height: 18px;
        margin-top: -100px;
        .twothing {
            color: #5865e5;
        }
    }
    .three {
        position: absolute;
        color: white;
        margin-left: 61%;
        line-height: 18px;
        margin-top: -100px;
        .threething {
            color: #5865e5;
        }
    }
    .four {
        position: absolute;
        color: white;
        margin-left: 71%;
        line-height: 18px;
        margin-top: -100px;
        .fourthing {
            color: #5865e5;
        }
    }
    .line {
        position: absolute;
        background-color: #5865e5;
        width: 70%;
        height: 0.5%;
        margin-left: 15%;
        margin-top: 300px;
    }
    .logo2 {
        position: absolute;
        margin-top: 320px;
        margin-left: 15%;
    }
    .register {
        position: absolute;
        background-color: #5865e5;
        border: 0;
        border-radius: 30px;
        color: white;
        height: 40px;
        width: 90px;
        margin-top: 330px;
        margin-left: 79%;
        cursor: pointer;
    }
}