.helpbg {
    padding-top: 1px;
    width: 100%;
    height: 800px;
    background: linear-gradient(green, black);
}
.helps {
    font-size: 20px;
    color: #a7a7a7;
    margin-top: 5%;
    margin-left: -20%;
}
.helping {
    font-size: 70px;
    margin-top: 0;
    margin-left: 36%;
    color: white;
    text-align: left;
}
.naming {
    color: white;
    margin-left: -15%;
}
.searchbar {
    margin-left: 36%;
    width: 30%;
    height: 50px;
    background-color: white;
    white-space: none;
    .imgs {
        margin-top: 10px;
        margin-left: -90%;
    }
    span {
        position: absolute;
        margin-top: 13px;
        margin-left: 10px;
    }
    
}
.pictures {
    margin-top: 1.5%;
    text-align: left;
    margin-left: 36%;
    img {
        cursor: pointer;
        border-radius: 5px;
    }
    .two {
        width: 178px;
        margin-left: 1%;
    }
    .three {
        width: 180px;
        margin-left: 1%;
    }
    .fourth {
        width: 188px;
        margin-top: 1%;
    }
    .five {
        width: 180px;
        height: 87px;
        margin-left: 1%;
    }
    .six {
        margin-left: 1%;
        width: 178px;
    }
}
.helped {
    width: 100%;
    height: 450px;
    padding-top: 1px;
    background-color: rgb(35, 34, 34);
    color: white;
    text-align: left;
    .helpings {
        margin-left: 35%;
        h2 {
            font-size: 30px;
        }
        .span1 {
            position: absolute;
            margin-top: 1%;
            font-size: 20px;
        }
        .arrow1 {
            position: absolute;
            margin-left: 30%;
            margin-top: 1%;
        }
        .span2 {
            position: absolute;
            margin-top: 3%;
            font-size: 20px;
        }
        .arrow2 {
            position: absolute;
            margin-left: 30%;
            margin-top: 3%;
        }
        .span3 {
            position: absolute;
            margin-top: 5%;
            font-size: 20px;
        }
        .arrow3 {
            position: absolute;
            margin-left: 30%;
            margin-top: 5%;
        }
        .span4 {
            position: absolute;
            margin-top: 7%;
            font-size: 20px;
        }
        .arrow4 {
            position: absolute;
            margin-left: 30%;
            margin-top: 7%;
        }
        .span5 {
            position: absolute;
            margin-top: 9%;
            font-size: 20px;
        }
        .arrow5 {
            position: absolute;
            margin-left: 30%;
            margin-top: 9%;
        }
        
    }
}