.maining {
    margin-top: -10px;
    margin-left: -10px;
    width: 100vw;
    height: 120vh;
}

.imging {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 120%;
    background-image: url(/images/f.png);
    background-size: contain;
    background-size: 100% 102%;
    background-repeat: no-repeat;
}

.texting {
    position: absolute;
    width: 35%;
    height: 20%;
    z-index: 3;
    font-size: 1.3vw;
    color: white;
    margin-left: 15vw;
    margin-top: 20vh;
    animation: fade-in 2s ease-in-out;
}

.minitext {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 30%;
    color: white;
    font-size: 1.1vw;
    margin-left: 15.2vw;
    margin-top: 44vh;
    animation: fade-in 2s ease-in-out;
}

.images {
    position: absolute;
    z-index: 1;
}

.img1 {
    z-index: 1;
    width: 25vw;
    height: 7vh;
    margin-left: 15.2vw;
    margin-top: 65vh;
    background-image: url(/images/apple.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade-in 2s ease-in-out;
}

.img2 {
    z-index: 1;
    width: 25vw;
    height: 7vh;
    margin-left: 15.2vw;
    margin-top: 3vh;
    background-image: url(/images/Play.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade-in 2.5s ease-in-out;
}

.phone1 {
    position: absolute;
    z-index: 1;
    width: 24vw;
    height: 120vh;
    margin-top: 9vh;
    margin-left: 72vw;
    background-image: url(/images/Phone1.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade-in-one 3s ease-in-out;
}

.phone2 {
    position: absolute;
    z-index: 999;
    width: 24vw;
    height: 120vh;
    margin-top: 50vh;
    margin-left: 50vw;
    background-image: url(/images/Phone2.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fade-in-two 3.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        margin-left: -30vw;
        opacity: 0%;
    }

    50% {
        margin-left: -30vw;
    }

    100% {
        opacity: 100%;
    }

}


@keyframes fade-in-one {
    0% {
        margin-top: 90vh;
        opacity: 0%;
    }

    50% {
        margin-top: 130vh;
    }

    100% {
        opacity: 100%;
    }

}

@keyframes fade-in-two {
    0% {
        margin-top: 150vh;
        opacity: 0%;
    }

    50% {
        margin-top: 150vh;
    }

    100% {
        opacity: 100%;
    }
}