.paybg {
    padding-top: 1px;
    width: 100%;
    height: 900px;
    background: linear-gradient(green, black);

    .gohome {
        margin-top: 5%;
        margin-left: -25%;
        color: white;
        font-size: 20px;

        .arrowing {
            position: absolute;
            margin-top: 0.24%;
        }
    }

    .rnao {
        font-size: 50px;
        margin-left: -12%;
        color: white;
    }

    .rufwp {
        height: 50px;
        .rhksfl {
            background-color: #333333;
            font-size: 13px;
            color: white;
        }
    }

    .tneks {
        margin-left: 2.5%;
        color: white;
    }

    .ehdnaakf {
        margin-left: 2.5%;
        color: white;
    }
}