.headers {
    position: absolute;
    background-color: #404eed;
    height: 700px;
    width: 100%;
    color: white;
    top: 0%;
    .img1 {
        position: absolute;
        margin-left: -3%;
        margin-top: 348px;
    }
    .img2 {
        position: absolute;
        margin-left: 65%;
        margin-top: 340px;
    }
}
.title {
    position: absolute;
    margin-left: 3%;
}
.loginso {
    position: absolute;
    margin-left: 90%;
}