.headers {
    position: fixed;
    background-color: #404eed;
    height: 10%;
    width: 100%;
    color: white;
    top: 0%;
}
.title {
    position: fixed;
    margin-left: 3%;
}
.loginso {
    position:fixed;
    margin-left: 90%;
}