.headers {
    position: absolute;
    height: 700px;
    width: 100%;
    color: white;
    top: 0%;
    z-index: 1;
    .logo {
        cursor: pointer;
        position: absolute;
        width: 150px;
        margin-top: 22px;
        margin-left: 17%;
        
    }
    
    .alltext {
        position: absolute;
        margin-left: 33%;
        margin-top: 24px;
        font-size: 18px;
        span {
            cursor: pointer;
        }
        text {
            margin-left: 40px;
            cursor: pointer;
        }
    }
    .loginso {
        position: absolute;
        height: 40px;
        width: 70px;
        color: black;
        border: 0;
        border-radius: 50px;
        margin-top: 18px;
        margin-left: 78%;
        cursor: pointer;
    }
    
}