.jheader {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 8%;
    background-color: #57A4FF;
}

.bt{
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-left: 1.5%;
}